<div>
<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">Product Details</h2>
            </div>
        </div> <!-- row -->

        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">Dashboard <small>Projects overview.</small></h3>
                <div>
                    <p class="lead lead-sm text-center">
                        The dashboard as general <b>starting ground</b>. All your projects, time-critical topics & last project activities.
                        All fully searchable.
                    </p>
                    <div class="text-center">
                        <img class="dash-image-shadow" src="img/home/dash.png" style="max-width:60%;" alt=""/>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
</div>



<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
            <hr class="dashed">
                <h3 class="text-center">Times <small>The projects time & topic history.</small></h3>
                <div>
                    <p class="lead lead-sm text-center">
                    <b>Quickly filterable</b> by a powerful full text search.
                    Also helpful is the structured filter by clickable topics and date labels.
                    </p>
                    <div class="text-center">
                        <img class="dash-image-shadow" src="img/home/times.png" style="max-width:60%;" alt=""/>
                    </div>
                </div>
            </div>

        </div> <!-- row -->
    </section>
</div>


<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <hr class="dashed">

                <div class="col-md-12">
                    <h3 class="text-center">Topics & Discussion <small>Topic detail view.</small></h3>
                    <div>
                        <p class="lead lead-sm text-center">
                            <b>Edit</b> your information fields, set tags & status. <br/>
                            <b>Review</b> spent times & activities. <br/>
                            <b>Discuss</b> info regarding the topic by using comments.
                        </p>
                        <div class="text-center">
                            <img class="dash-image-shadow"  src="img/home/topic_detail.png" style="max-width:60%;" alt=""/>
                        </div>
                        <br/>
                        <div class="text-center">
                            <img class="dash-image-shadow"  src="img/home/discussion.png" style="max-width:60%;" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
</div>


<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-sm-12">
                <hr class="dashed">

                <h3 class="text-center">Topics Board <small>Interactive board visualization.</small></h3>
                <div>
                    <p class="lead lead-sm text-center">
                        Status based columns with topic-cards to get a top level impression of your project. <br/>
                        Use <b>drag & drop</b> on desktop browsers to move topics between their states.
                    </p>
                    <div class="text-center">
                        <img  class="dash-image-shadow"  src="img/home/board.png" style="max-width:60%;" alt=""/>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
</div>

<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <hr class="dashed">
                <h3 class="text-center">Editing <small>Efficient inputs.</small></h3>
                <div>
                    <p class="lead lead-sm text-center">
                    Quick <b>edit topics and times</b> without leaving the context using overlay dialogs.
                    Use <b>emojis</b> to express your mood.
                    </p>
                    <div class="text-center">
                        <img class="dash-image-shadow" src="img/home/quick_edit.png" style="max-width:60%" alt=""/>
                    </div>
                </div>
                <br/>
                <div>
                    <p class="lead lead-sm text-center">
                    <b>Inline edit</b> fields directly within lists.
                    </p>

                    <div class="text-center">
                        <img class="dash-image-shadow" src="img/home/inline_edit.png" style="max-width:60%" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <hr class="dashed">
                <h3 class="text-center">Labels <small>Content classification.</small></h3>
                <div>
                    <p class="lead lead-sm text-center">
                        Create custom Labels to classify your Topics. <br/>
                        Truly individualize your Project by setting your own <b>colors & icons</b>!
                    </p>
                    <div class="text-center">
                        <img class="dash-image-shadow" src="img/home/labels.png" style="max-width:60%;" alt=""/>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
</div>

<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <hr class="dashed">
                <h3 class="text-center">Notes <small>Project information.</small></h3>
                <div>
                    <p class="lead lead-sm text-center">
                        Notes are the right thing for more general information like roadmaps, reports or
                        scratchpads for features. <br/>
                        Notes can be private, which makes them a good alternative for personal todo-lists. <br/>
                        As with all other content fields in enyine, Notes can be written in <b>Markdown</b>.
                    </p>
                    <div class="text-center">
                        <img class="dash-image-shadow" src="img/home/notes.png" style="max-width:60%;" alt=""/>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
</div>

<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <hr class="dashed">
                <h3 class="text-center">Search & Filters <small>Find everything, fast.</small></h3>
                <div>
                    <p class="lead lead-sm text-center">
                        Quickly find anything by using the <b>global search engine</b>. Use simple terms or a powerful
                        syntax for more specific cases.
                    </p>
                    <div class="text-center">
                        <img class="dash-image-shadow" src="img/home/search.png" style="max-width:60%;" alt=""/>
                    </div>
                </div>
                <br/>
                <div>
                    <p class="lead lead-sm text-center">
                        <b>Configure & save filters</b> for the topic-lists you often come back to. Addressable by URL
                        for easy bookmarking and sharing.
                    </p>

                    <div class="text-center">
                        <img class="dash-image-shadow" src="img/home/filters.png" style="max-width:60%" alt=""/>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
</div>

<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <hr class="dashed">
                <h3 class="text-center">Manage Project Teams <small>Better together.</small></h3>
                <div>
                    <p class="lead lead-sm text-center">
                    Manage your <b>project team</b> as project administrator and invite new members.
                    </p>
                    <div class="text-center">
                        <img class="dash-image-shadow" src="img/home/project_members.png" style="max-width:60%;" alt=""/>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
</div>


<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <hr class="dashed">
                <h3 class="text-center">Github Integration <small>Your content repository.</small></h3>
                <div>
                    <p class="lead lead-sm text-center">
                        The <b><a href="https://www.github.com" target="_blank">Github</a> Integration</b>
                        reflects your committed work automatically as it creates times and topics.
                        <br/>
                        Helping you to reduce manual inputs by extracting information like your spent hours from the commit message.
                        <br/>No more tedious reconstructing of past time records.
                    </p>
                    <div class="text-center">
                        <img class="dash-image-shadow" src="img/home/github.png" style="max-width:60%;" alt=""/>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
</div>

<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <hr class="dashed">
                <h3 class="text-center">Slack Integration <small>Your information hub.</small></h3>
                <div>
                    <p class="lead lead-sm text-center">
                    Many teams, including us, enjoy using the excellent <a href="https://www.slack.com" target="_blank">Slack</a>
                        for messaging & document management.
                        <br/>
                    Delegate project-events to a <b>connected Slack-Channel</b> to keep your team informed and have all information
                    in one place.
                    </p>
                    <div class="text-center">
                        <img class="dash-image-shadow" src="img/home/slack.png" style="max-width:60%;" alt=""/>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
</div>


<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <hr class="dashed">
                <h3 class="text-center">Activity Log <small>Keeping all actions.</small></h3>
                <div>
                    <p class="lead lead-sm text-center">
                    The activity log contains <b>every action</b> that happened, fully searchable. Drill in down to the field level changes.
                        <br/>
                    No responsibility gaps and full transparency to your projects!
                    </p>
                    <div class="text-center">
                        <img class="dash-image-shadow" src="img/home/eventlog.png" style="max-width:60%;" alt=""/>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
</div>

<div class="jumbotron">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">And there is more... Try it for FREE!</h2>
                <div>
                    <p class="lead lead-sm text-center">
                        A hands on experience is more than a million words. To evaluate enyine please subscribe to the mailing list.
                        We would love to come back to you when we're ready!
                    </p>
                </div>

            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div id="mc_embed_signup">
                    <form action="//appspark.us9.list-manage.com/subscribe/post?u=08411ae44634f9c1c7b07893f&amp;id=c2c44221dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="input-group">

                            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_08411ae44634f9c1c7b07893f_c2c44221dd" tabindex="-1" value=""></div>
                                <span class="clear input-group-btn">
                                    <input class="btn btn-ar btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>



    <aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    <li><a href="/">Home</a></li>
                    <li><a href="http://www.appspark.eu/category/enyine/">Blog</a></li>
                    <li><a href="#/pricing">Pricing</a></li>
                    <li><a href="#/about">About Us</a></li>
                    <li><a href="#/login">Login</a></li>
                </ul>
                <h3 class="footer-widget-title">Subscribe</h3>
                <p>Subscribe for Updates.</p>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup" >
                    <form action="//appspark.us9.list-manage.com/subscribe/post?u=08411ae44634f9c1c7b07893f&amp;id=c2c44221dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="input-group">

                            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_08411ae44634f9c1c7b07893f_c2c44221dd" tabindex="-1" value=""></div>
                            <span class="clear input-group-btn">
                                <input class="btn btn-ar btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></span>
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
            </div>
            <div class="col-md-6">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Channels</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">

                            <a href="https://github.com/AppSparky">
                                <span class="icon-ar icon-ar-round icon-ar-lg"><i class="fa fa-github"></i></span>
                                Github
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="https://twitter.com/enyine">
                            <span class="icon-ar icon-ar-round icon-ar-lg"><i class="fa fa-twitter"></i></span>
                            Twitter
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
</div>
