<script>
    function scrollToTop() {
        $("html, body").animate({ scrollTop: 0 }, 200);
    }
</script>

<div>
<header id="header-full">
    <div class="wrap-primary">
        <div class="container">
            <div class="row">
            <h4 class="text-center">We are currently in CLOSED BETA. Please subscribe to stay up to date with our service.</h4>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div id="mc_embed_signup" >
                        <form action="//appspark.us9.list-manage.com/subscribe/post?u=08411ae44634f9c1c7b07893f&amp;id=c2c44221dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll" class="input-group">

                                <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_08411ae44634f9c1c7b07893f_c2c44221dd" tabindex="-1" value=""></div>
                            <span class="clear input-group-btn">
                                <input class="btn btn-ar btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <h2 class="head-title animated bounceInDown animation-delay-5">en<span class="em-primary">y</span>ine</h2>

            <img src="/img/logo_enyine.png" style="width:100px" alt="" class="aligncenter animated tada animation-delay-5">

            <h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">Driving <span class="em-primary">You</span> Forward</h2>
            <p class="lead text-center animated fadeInUp animation-delay-14">                
                <span class="em-warning">enyine</span> is made for individuals and teams to organize themselves, pick up their data
                and keep track of their effort to make activity visible. 
                enyine aims for helping to master whatever goals are set, and therefore offers an experience tailored to the people using it. Starting small and  
                growing with your ambition.
            </p>

            <div class="row header-full-icons text-center">
                <div class="col-sm-3 animated fadeInDown animation-delay-19">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-bolt"></i></span>
                    <h3>Actions make Results</h3>
                    <p class="text-center">Do or make something, collect the data and adapt quickly for the best results. We provide an easy but powerful 
                        system to track all kinds of data and make conclusions fast.
                    </p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-22">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-users"></i></span>
                    <h3>Individuals & Teams</h3>
                    <p class="text-center">Regardless if small or big projects - organizing your life, your projects, working alone, in a team or just keeping track
                        of your hobby & client work.
                    </p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-21">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse">
                        <i class="fa fa-exchange"></i>
                    </span>
                    <h3>Open for Integrations</h3>
                    <p class="text-center">Information workers live in a connected world. enyine integrates with services like
                    <i>Github</i> or <i>Slack</i> and is open to connect with any other apps.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-20">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-cubes"></i></span>
                    <h3>Lean & Flexible</h3>
                    <p class="text-center">
                        Simple but flexible building blocks let you structure your projects as needed. 
                        Delivered as web application for desktop and mobile.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="wrap-dark-color margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 hidden-sm hidden-xs">
                <p class="lead text-center">
                    <i class="fa fa-quote-left" style="font-size: 1.4em"></i>
                    <label id="quoteText" style="font-size: 1.2em">
                        no quote
                    </label>
                    <i id="quotePerson">no person</i>

                </p>
            </div>
        </div>
    </div>
</section>
    
    <div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">What is enyine?</h2>
            </div>

            <div class="col-md-12">
            <p class="lead">
                <span class="em-warning">enyine</span> is designed to organize people who know that <i>action</i> is the foundation to achieve desired results.
                All the best thoughts don't mean much, if nobody is empowered to make them reality.
                enyine offers following approaches for helping you to achieve your goals.
                <ul class="service-list list-unstyled">
                    <li>
                        <b>Flexible Planning and Tracking</b>. Plan your next steps by using a system of customizable work items 
                        which consist of <span class="em-info">Item Types</span>, 
                         <span class="em-info">Items</span>, <span class="em-info">Status</span> and <span class="em-info">Tags</span>. 
                          
                        Enter your actionable data with customizable <span class="em-info">Value</span> records, for example time records. 
                        
                        We keep a full <span class="em-info">Change Log</span> on all actions in case you need to look something up. 
                        
                        Use the drag&drop enabled <span class="em-info">Board</span> of Items by Status to quickly grasp & act on the current project 
                        situation.                         
                        
                        Use rich querying capabilities, <span class="em-info">Filters</span> and inline <span class="em-info">Aggregations with Chart-Visualizations </span> 
                        to get insights out of your data.
                        <br><br>
                        The power lies in <i>simplicity & flexibility</i>, as you find your optimal project structure along the way and dynamically grow it with your needs. 
                        You may want to start with a project <span class="em-info">Template</span>, but evolve and adapt the work items to fit exacly for your process.
                        With building blocks tailored to your project you are able to improve your workflow for more effective results.
                    </li>
                    <li>
                        <b>Smooth Information Management for Teams</b>.
                        Sometimes information doesn't fit in a task or another work item - you just want to be creative and write free text (in Markdown) 
                        on a project matter. Therefore <span class="em-info">Notes</span> can be created for just yourself (private), maybe 
                        as an idea scratchpad, or public for the whole team, maybe to document a strategic document like a roadmap. 
                        <br><br>
                        Also <span class="em-info">Comments</span> can be added to let information flow between team members and discuss 
                        directly on Items. These Comments are visible in context of Items or Notes, but also in a global Timeline which is
                        compareable to a team chat application.
                        <br><br>
                        For getting external references or resources into the project, Urls can be conveniently stored 
                        for later referral and edited inline. We also provide a automated  <span class="em-info">Browser-link Importer</span> 
                        and short-cut data entry with 'quick add' options.                
                        Each page can be stored as <span class="em-info">Internal Bookmark</span> for quick access later on.
                    </li>
                    <li>
                        <b>Connecting Tools and Systems</b>. Use the right tools for the job by using the power of <span class="em-info">Integrations</span>.
                        <i> <span class="em-primary">Github</span></i> as repository for your content & work items.
                        <i> <span class="em-primary">Slack</span></i> for team chat, document & file mangagement and much more.
                        Items & Values can be automatically created from Github commits, changes & comments can be forwarded to your projects 
                        Slack-channel.
                        <br><br>
                        With configurable <span class="em-info">Webhooks</span> enyine is readily equipped to automate the data flow <i>to and from</i> any external application.
                        This powerful concept allows you to collect all kinds of data, from all kinds of sources and devices.
                        <br><br>
                        
                        <span class="em-primary">enyine</span> can be the 'data management glue' that holds your services & applications together -
                         but only if you like to do so!
                    </li>
                </ul>
            </p>
            </div>


            <div class="col-md-12">
                <h4>Use Cases</h4>
            <p class="lead lead-sm">
                <p class="">
                    enyine was made out of personal need for a simple, but flexible tool to organize software projects and the people working on it 
                    in distributed teams. Our thought goes on <span class="em-primary">assisting self-responsible people</span> <b>first</b> and  
                    project management processes <b>second</b>. Therefore enyine can be used for a variety of scenarios.
                </p>
                <br>
                <div class="col-md-4 col-sm-12">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-circle icon-ar-lg"><i class="fa fa-cube"></i></span>
                        <div class="text-icon-content">
                            <h4 class="no-margin">Project Management</h4>
                            <ul class="list-unstyled">
                                <li>As we manage our software projects, and therefore Timutil itself, with enyine and with the useful Github-integration 
                                    this the most obvious use :) It allows us to reduce time tracking overhead and bring the tool in the background 
                                    to focus more on the actual work.
                                </li>
                                <li style="margin-top:8px"></li>
                                <li>Managing many projects, especially for Freelancers & Contract Workers</li>
                                <li style="margin-top:8px"></li>
                                <li>Managing projects in corporations with small to mid-sized teams & open process</li>
                            </ul>
                        </div>
                    </div>
                </div>
            

                <div class="col-md-4 col-sm-12">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-circle icon-ar-lg"><i class="fa fa-user"></i></span>
                        <div class="text-icon-content">
                            <h4 class="no-margin">Self Improvement</h4>
                            <ul class="list-unstyled">
                                <li>Task Management</li>
                                <li style="margin-top:8px"></li>
                                <li>More sophisticated systems, like 'Getting Things Done'</li>
                                <li style="margin-top:8px"></li>
                                <li>Quick information collection, review later</li>
                                <li style="margin-top:8px"></li>
                                <li>Health & Fitness Tracking</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                 <div class="col-md-4 col-sm-12">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-circle icon-ar-lg"><i class="fa fa-check-circle"></i></span>
                        <div class="text-icon-content">
                            <h4 class="no-margin">Event Data Store</h4>
                            <ul class="list-unstyled">
                                <li>Internet of things</li>
                                <li style="margin-top:8px"></li>
                                <li>Automated data flow</li>
                                <li style="margin-top:8px"></li>
                                <li>Powerful search</li>
                                <li style="margin-top:8px"></li>
                                <li>Detect patterns by correlation of different data streams</li>
                            </ul>
                        </div>
                    </div>
                </div>
                                
            </p>
            </div>
            
            <div class="col-md-12">
                <div class="text-center">
                    <br/>
                <h1>[Introductory Video here]</h1>
                    <br/><br/>
                </div>
            </div>
            
            <div class="col-md-12">
                <h2 class="right-line">Building Blocks</h2>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-cubes"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Spaces</h3>
                        <p>Spaces are the core building block of enyine. A user is a member of one or more spaces and has access to the data inside.
                            A space could be a project and you can create spaces for yourself or invite as
                            many members as you like.</p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-tasks"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Items</h3>
                        <p>Items bring structure to your projects. A item can be a feature, bug, meeting, idea or whatever you want.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-clock-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Values & Value Types</h3>
                        <p>Tracking of actionable data - data which allows for further analysis - without much hassle is a core goal of enyine. 
                            Focus on your actions and spend minimum effort
                        on manual data input. Going further, you can use different value types & units to measure anything.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-tags"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Item Types & Tags</h3>
                        <p>Quickly classify your assets.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-filter"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Filters</h3>
                        <p>Quickly filter your assets via fulltext search or just on click by topics and time periods.</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-edit"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Notes</h3>
                        <p>Quickly filter your assets via fulltext search or just on click by topics and time periods.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-comments"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Comments</h3>
                        <p>Quickly filter your assets via fulltext search or just on click by topics and time periods.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-gears"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Status</h3>
                        <p>Quickly filter your assets via fulltext search or just on click by topics and time periods.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-line-chart"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Aggregations</h3>
                        <p>Quickly filter your assets via fulltext search or just on click by topics and time periods.</p>
                    </div>
                </div>
            </div>
                        
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-columns"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Board</h3>
                        <p>Visualizing items in a board-type fashion is just natural. enyine allows you to look and interact with your
                        topics in a state-driven topics board.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-exchange"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Integrations</h3>
                        <p>Linking our favourite apps is part of the core philosophy of enyine. Therefore we're integrating
                            team chat, files and version control in a simple & flexible manner </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-bookmark-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Bookmarks</h3>
                        <p>Quickly filter your assets via fulltext search or just on click by topics and time periods.</p>
                    </div>
                </div>
            </div>
            

        </div> <!-- row -->
    </section>


</div>

<div class="jumbotron">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                
                <h2 class="text-center">Thank you for coming so far, have we got your Interest? <br><a onclick="scrollToTop()" class="em-royal" ui-sref="off.features">Click here for more details <i class="fa fa-arrow-right"></i> </a></h2>
                
                <div>
                    <p class="lead lead-sm text-center">
                        A hands on experience is more than a million words.<br> To evaluate enyine for FREE as soon as we're ready, please subscribe to the mailing list.
                        We would love to come back on you!
                    </p>
                </div>

            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div id="mc_embed_signup">
                    <form action="//appspark.us9.list-manage.com/subscribe/post?u=08411ae44634f9c1c7b07893f&amp;id=c2c44221dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="input-group">

                            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_08411ae44634f9c1c7b07893f_c2c44221dd" tabindex="-1" value=""></div>
                                <span class="clear input-group-btn">
                                    <input class="btn btn-ar btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>



    <aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    <li><a href="/">Home</a></li>
                    <li><a href="http://www.appspark.eu/category/enyine/">Blog</a></li>
                    <li><a href="#/pricing">Pricing</a></li>
                    <li><a href="#/about">About Us</a></li>
                    <li><a href="#/login">Login</a></li>
                </ul>
                <h3 class="footer-widget-title">Subscribe</h3>
                <p>Subscribe for Updates.</p>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup" >
                    <form action="//appspark.us9.list-manage.com/subscribe/post?u=08411ae44634f9c1c7b07893f&amp;id=c2c44221dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="input-group">

                            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_08411ae44634f9c1c7b07893f_c2c44221dd" tabindex="-1" value=""></div>
                            <span class="clear input-group-btn">
                                <input class="btn btn-ar btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></span>
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
            </div>
            <div class="col-md-6">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Channels</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">

                            <a href="
                            ">
                                <span class="icon-ar icon-ar-round icon-ar-lg"><i class="fa fa-github"></i></span>
                                Github
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="https://twitter.com/enyine">
                            <span class="icon-ar icon-ar-round icon-ar-lg"><i class="fa fa-twitter"></i></span>
                            Twitter
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
</div>

<script>
    /*$(document).ready(wrapResize);
    $(window).resize(wrapResize);
    function wrapResize (){
        var nav = $('.navbar');
        var full = $('#header-full');
        var wrap = $('.wrap-primary');
        var bottom = $('.wrap-dark-color');
        var sizeTop = nav.offset().top + nav.height();
        var sizeWrap = $(window).height() - sizeTop - bottom.height();
        wrap.css('min-height', sizeWrap + "px");
    }*/
    var quotes = [
        {person:'Benjamin Franklin', text:'You may delay, but time will not.'},
        {person:'Bruce Lee', text:'If you spend too much time thinking about a thing, you\'ll never get it done.'},
        {person:'William Penn', text:'Time is what we want most, but what we use worst.'},
        {person:'Dr. Seuss', text:'How did it get so late so soon?'},
        {person:'Elbert Hubbard', text:'The best preparation for good work tomorrow is to do good work today.'},
        {person:'John Wooden', text:'If you don\'t have time to do it right, when will you have time to do it over?'},
        {person:'Thomas A. Edison', text:'There is no substitute for hard work.'},
        {person:'Albert Einstein', text:'The only reason for time is so that everything doesn\'t happen at once.'},
        {person:'Benjamin Franklin', text:'Lost time is never found again.'}
    ];
    var index = Math.floor((Math.random() * quotes.length));
    $('#quoteText').text(quotes[index].text);
    $('#quotePerson').text(quotes[index].person);
</script>