<script>
    function scrollToTop() {
        $("html, body").animate({ scrollTop: 0 }, 200);
    }
</script>

<div>
<header id="header-full">
    <div class="wrap-primary" style="height:800px">
        <div class="container">
            <h2 class="head-title animated bounceInDown animation-delay-5">en<span class="em-primary">y</span>ine</h2>

            <img src="/img/logo_enyine.png" style="width:100px" alt="" class="aligncenter animated tada animation-delay-5">

            <h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">Driving <span class="em-primary">You</span> Forward</h2>
            <p class="lead text-center animated fadeInUp animation-delay-14">                
                <span class="em-warning">enyine</span> is made for individuals and teams to organize themselves, pick up their data
                and keep track of their effort to make activity visible. 
                enyine aims for helping to master whatever goals are set, and therefore offers an experience tailored to the people using it. Starting small and  
                growing with your ambition.
            </p>
        </div>
    </div>
</header>

<section class="wrap-dark-color margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 hidden-sm hidden-xs">
                <p class="lead text-center">
                    <i class="fa fa-quote-left" style="font-size: 1.4em"></i>
                    <label id="quoteText" style="font-size: 1.2em">
                        no quote
                    </label>
                    <i id="quotePerson">no person</i>

                </p>
            </div>
        </div>
    </div>
</section>
    
    <div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">Building Blocks</h2>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-cubes"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Spaces</h3>
                        <p>Spaces are the core building block of enyine. A user is a member of one or more spaces and has access to the data inside.
                            A space could be a project and you can create spaces for yourself or invite as
                            many members as you like.</p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-tasks"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Items</h3>
                        <p>Items bring structure to your projects. A item can be a feature, bug, meeting, idea or whatever you want.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-clock-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Values & Value Types</h3>
                        <p>Tracking of actionable data - data which allows for further analysis - without much hassle is a core goal of enyine. 
                            Focus on your actions and spend minimum effort
                        on manual data input. Going further, you can use different value types & units to measure anything.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-tags"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Item Types & Tags</h3>
                        <p>Quickly classify your assets.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-filter"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Filters</h3>
                        <p>Quickly filter your assets via fulltext search or just on click by topics and time periods.</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-edit"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Notes</h3>
                        <p>Quickly filter your assets via fulltext search or just on click by topics and time periods.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-comments"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Comments</h3>
                        <p>Quickly filter your assets via fulltext search or just on click by topics and time periods.</p>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-line-chart"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Aggregations</h3>
                        <p>Quickly filter your assets via fulltext search or just on click by topics and time periods.</p>
                    </div>
                </div>
            </div>
                        
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-columns"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Board</h3>
                        <p>Visualizing items in a board-type fashion is just natural. enyine allows you to look and interact with your
                        topics in a state-driven topics board.</p>
                    </div>
                </div>
            </div>

        </div> <!-- row -->
    </section>


</div>
    <aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    <li><a href="/">Home</a></li>
                    <li><a href="http://www.appspark.at">Blog</a></li>
                    <!-- <li><a href="#/pricing">Pricing</a></li> -->
                    <li><a href="#/about">About Us</a></li>
                    <li><a href="#/login">Login</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Channels</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">

                            <a href="https://github.com/mantensteiner/enyine">
                                <span class="icon-ar icon-ar-round icon-ar-lg"><i class="fa fa-github"></i></span>
                                Github
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="https://twitter.com/AppSparkAT">
                            <span class="icon-ar icon-ar-round icon-ar-lg"><i class="fa fa-twitter"></i></span>
                            Twitter
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
</div>

<script>
    /*$(document).ready(wrapResize);
    $(window).resize(wrapResize);
    function wrapResize (){
        var nav = $('.navbar');
        var full = $('#header-full');
        var wrap = $('.wrap-primary');
        var bottom = $('.wrap-dark-color');
        var sizeTop = nav.offset().top + nav.height();
        var sizeWrap = $(window).height() - sizeTop - bottom.height();
        wrap.css('min-height', sizeWrap + "px");
    }*/
    var quotes = [
        {person:'Benjamin Franklin', text:'You may delay, but time will not.'},
        {person:'Bruce Lee', text:'If you spend too much time thinking about a thing, you\'ll never get it done.'},
        {person:'William Penn', text:'Time is what we want most, but what we use worst.'},
        {person:'Dr. Seuss', text:'How did it get so late so soon?'},
        {person:'Elbert Hubbard', text:'The best preparation for good work tomorrow is to do good work today.'},
        {person:'John Wooden', text:'If you don\'t have time to do it right, when will you have time to do it over?'},
        {person:'Thomas A. Edison', text:'There is no substitute for hard work.'},
        {person:'Albert Einstein', text:'The only reason for time is so that everything doesn\'t happen at once.'},
        {person:'Benjamin Franklin', text:'Lost time is never found again.'}
    ];
    var index = Math.floor((Math.random() * quotes.length));
    $('#quoteText').text(quotes[index].text);
    $('#quotePerson').text(quotes[index].person);
</script>