<br/>

<div class="container">
    <section>
        <div class="row">



            <div class="content-box">
                <h3 class="content-box-title">Please note that the pricing info on this page is prelimiary and subject to change.</h3>
                <p>
                    We are currently in <b>PRIVATE BETA</b> and therefore not offering any paid plans.
                    <br/>
                    The plans below reflect our current estimations for providing a future stable service you can rely on.
                    <br/> Just so you can see where we are heading <span ng-bind-html=" ':sweat_smile:' | emoji"></span>
                </p>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="pricign-box animated fadeInUp animation-delay-7">
                    <div class="pricing-box-header">
                        <h2>Micro</h2>
                        <p style="font-size: 1.3em"><span class="label label-primary">2 Projects</span> </p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ TBA <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="fa fa-gears"></i> <b>2</b> Projects.</li>
                            <li><i class="fa fa-tags"></i> Unlimited topics.</li>
                            <li><i class="fa fa-clock-o"></i> Unlimited time records.</li>
                            <li><i class="fa fa-github"></i> Github integration.</li>
                            <li><i class="fa fa-slack"></i> Slack integration.</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        <a data-ng-disabled="true" h href="#" class="btn btn-ar btn-default">Order Now</a>
                        <br/>
                        <i>Not available during BETA</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricign-box animated fadeInUp animation-delay-7">
                    <div class="pricing-box-header">
                        <h2>Small</h2>
                        <p style="font-size: 1.3em"><span class="label label-primary">5 Projects</span> </p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ TBA <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="fa fa-gears"></i> <b>5</b> Projects.</li>
                            <li><i class="fa fa-tags"></i> Unlimited topics.</li>
                            <li><i class="fa fa-clock-o"></i> Unlimited time records.</li>
                            <li><i class="fa fa-github"></i> Github integration.</li>
                            <li><i class="fa fa-slack"></i> Slack integration.</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        <a data-ng-disabled="true" h href="#" class="btn btn-ar btn-default">Order Now</a>
                        <br/>
                        <i>Not available during BETA</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricign-box pricign-box-pro animated fadeInUp animation-delay-9">
                    <div class="pricing-box-header">
                        <h2>Professional</h2>
                        <p style="font-size: 1.3em"><span class="label label-primary">10 Projects</span> </p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ TBA <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="fa fa-gears"></i> <b>10</b> Projects.</li>
                            <li><i class="fa fa-tags"></i> Unlimited topics.</li>
                            <li><i class="fa fa-clock-o"></i> Unlimited time records.</li>
                            <li><i class="fa fa-github"></i> Github integration.</li>
                            <li><i class="fa fa-slack"></i> Slack integration.</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        <a data-ng-disabled="true" h href="#" class="btn btn-ar btn-primary">Order Now</a>
                        <br/>
                        <i>Not available during BETA</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricign-box animated fadeInUp animation-delay-8">
                    <div class="pricing-box-header">
                        <h2>Ultimate</h2>
                        <p style="font-size: 1.3em"><span class="label label-primary">20 Projects</span> </p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ TBA <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="fa fa-gears"></i> <b>20</b> Projects.</li>
                            <li><i class="fa fa-tags"></i> Unlimited topics.</li>
                            <li><i class="fa fa-clock-o"></i> Unlimited time records.</li>
                            <li><i class="fa fa-github"></i> Github integration.</li>
                            <li><i class="fa fa-slack"></i> Slack integration.</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">

                        <a data-ng-disabled="true" href="#" class="btn btn-ar btn-default">Order Now</a>
                        <br/>
                        <i>Not available during BETA</i>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>

</div> <!-- container -->
