
<footer id="footer">
    <p>© 2015-2020 <a href="http://www.appspark.eu">AppSpark</a> All rights reserved. <a href="#/terms_of_service">Terms of Service</a> - <a href="#/privacy">Privacy Policy</a>
	<a style="margin-left:20px" href="http://www.beyondsecurity.com/vulnerability-scanner-verification/enyine.com">
        <img src="https://seal.beyondsecurity.com/verification-images/enyine.com/vulnerability-scanner-2.gif" alt="Website Security Test" border="0" />
    </a>
    </p>
</footer>

<script>
    $(document).ready(wrapResize);
    $(window).resize(wrapResize);

    function wrapResize (){
        var mainSection = $('#mainSection');
        var headerSection = $('#headerSection');
        var footerSection = $('#footerSection');

        var mainHeight = $(window).height() - footerSection.height() - headerSection.height();
        mainSection.css('min-height', mainHeight + "px");
    }
</script>
