<br/>

<div class="col-sm-12">

    <loader ng-show="$ctrl.viewLoading()"></loader>

    <div ng-show="!viewLoading()" class="row row-offcanvas row-offcanvas-left animated fadeIn animation-delay-1">

        <div class="col-xs-12">
            <div>
                <h2 class="section-title no-margin-top">
                   <i class="fa fa-tasks"></i>  Bulk Edit Item Fields
                    <span class="hidden-xs">
                        <space-dropdown space-id="$ctrl.spaceId" space-name="$ctrl.space.name"></space-dropdown>
                    </span>
                </h2>
                <span class="visible-xs">
                    <space-dropdown space-id="$ctrl.spaceId" space-name="$ctrl.space.name"></space-dropdown>
                </span>

                <div class="">
                  <i class="fa fa-info-circle"></i>
                  <span style="font-size:0.8em;color:black;">All bulk operations will be applied to each record hit by the 'Targeted Items' query</span>
                </div>



                <div ng-show="!$ctrl.targetQuery">
                  <div class="alert alert-warning">
                    <p>
                      <h5>
                        <i class="fa fa-warning em-danger"></i> Empty input query.
                      </h5>
                      This would result in a bulk operation on ALL Items, which is prohibited.
                      Please go <a ui-sref="in.items({id:$ctrl.spaceId})">back</a> and filter your Items list to a smaller result set to perform a bulk operation.
                    </p>
                  </div>
                </div>
                <div ng-show="$ctrl.targetQuery">
                  <h5>
                    {{$ctrl.targetInfo}}
                    <small style="font-size:0.8em">Targeted Items Query</small>
                    <span class="label label-info" title="Show targeted Items result list">
                      <a style="color:white" target="_blank" ng-href="/#/space/{{$ctrl.spaceId}}/items/list//{{$ctrl.targetQuery}}">
                        {{targetQueryDisplay}}
                        <i class="fa fa-external-link"></i>
                      </a>
                    </span>


                  </h5>

                    <!--
                        Fields
                    -->
                    <div class="col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-edit"></i> Bulk Edit Form Data</div>
                        <div class="panel-body">

                          <a class="btn btn-success btn-sm pull-right"  ng-click="$ctrl.saveFormData()"><i class="fa fa-save"></i> Save Form Data</a>

                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label>Status</label>
                                      <select style="width: 100%" ui-select2  ng-model="$ctrl.bulkEditData.status.id"
                                              data-placeholder="Pick status">
                                          <option ng-repeat="st in $ctrl.itemStatus" value="{{st.id}}">{{st.name}}</option>
                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <label><b>Event</b>: Item with Date</label>
                                      <div>Check to remove dates <input type="checkbox" data-ng-model="$ctrl.bulkEditData.removeDate"/></div>
                                      <input type="date" ng-show="!$ctrl.bulkEditData.removeDate" class="form-control" name="dateInput"
                                             ng-model="$ctrl.bulkEditData.date"
                                             placeholder="yyyy-MM-dd" min="2014-01-01" required />
                                  </div>
                                  <div class="form-group">
                                      <label>Owner</label>
                                      <select style="width: 100%" ui-select2  ng-model="$ctrl.bulkEditData.owner.id"
                                              data-placeholder="Pick user">
                                          <option ng-repeat="u in $ctrl.space.users" value="{{u.id}}">{{u.username}}</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-heading"> <i class="fa fa-tags"></i> Bulk Edit Tags</div>
                        <div class="panel-body">

                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group">
                                      <label>Set Tags</label>

                                      <form>
                                          <div class="input-group">

                                            <tags-input ng-model="$ctrl.tagsSet" display-property="name">
                                                <auto-complete source="$ctrl.loadTags($query)"></auto-complete>
                                            </tags-input>

                                            <span class="input-group-btn">
                                            <button class="btn btn-ar btn-primary" type="button" data-ng-click="$ctrl.addTagsBulk()">
                                                <i class="fa fa-save no-margin-right"></i>
                                            </button>
                                            </span>
                                          </div>
                                          <input style="display:inline;visibility: hidden" type="submit" data-ng-click="$ctrl.addTagsBulk()"/>
                                      </form>

                                  </div>
                                  <div class="form-group">
                                      <label>Remove Tags</label>

                                      <form>
                                          <div class="input-group">

                                            <tags-input ng-model="$ctrl.tagsRemove" display-property="name">
                                                <auto-complete source="$ctrl.loadTags($query)"></auto-complete>
                                            </tags-input>

                                            <span class="input-group-btn">
                                            <button class="btn btn-ar btn-primary" type="button" data-ng-click="$ctrl.removeTagsBulk()">
                                                <i class="fa fa-save no-margin-right"></i>
                                            </button>
                                            </span>
                                          </div>
                                          <input style="display:inline;visibility: hidden" type="submit" data-ng-click="$ctrl.removeTagsBulk()"/>
                                      </form>

                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>


        </div><!--/span-->
    </div>
</div>
