<br/>

<div class="container">

    <loader show="$ctrl.viewLoading()"></loader>

    <div ng-show="!$ctrl.viewLoading()" class="row row-offcanvas row-offcanvas-left animated fadeIn animation-delay-1">



        <div class="col-xs-12">
            <div>
                <h2 class="section-title no-margin-top">
                    Item Types
                    <button class="btn btn-default" type="button" style="margin-left: 5px"
                            data-toggle="modal" data-target="#editItemTypeModal" data-ng-click="$ctrl.selectItemType(null)">
                        <span class="fa fa-plus"></span> Add
                    </button>
                    <space-dropdown space-id="$ctrl.spaceId" space-name="$ctrl.space.name"></space-dropdown>
                </h2>
            </div>

            <div class="row">

                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                    <form>

                        <div class="input-group">
                            <input type="text" placeholder="Text filter..." class="form-control"
                                   data-ng-model="$ctrl.textFilter">
                                    <span class="input-group-btn">
                                    <button class="btn btn-ar btn-primary" type="button" data-ng-click="$ctrl.execFilter()">
                                        <i class="fa fa-search no-margin-right"></i>
                                    </button>
                                    </span>
                        </div>
                        <input style="display:inline;visibility: hidden" type="submit" data-ng-click="$ctrl.execFilter()"/>
                    </form>
                </div>
            </div>


            <div  ng-show="!$ctrl.itemTypesLoading" class="row animated fadeIn listAnimation">
                <div class="col-sm-12">
                    <table class="table table-hover" infinite-scroll="$ctrl.loadMoreItemTypes()"
                           infinite-scroll-disabled="$ctrl.moreItemTypesLoading" infinite-scroll-distance='0'>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Color</th>
                            <th>Icon</th>
                            <th>Changed On</th>
                        </tr>
                        </thead>
                        <tbody  data-ng-repeat="l in $ctrl.itemTypes" ng-class-odd="'default-striping'">
                        <tr>
                            <td>
                                <a class="clickable" ng-click="$ctrl.selectItemType(l)" data-toggle="modal" data-target="#editItemTypeModal" >
                                    <i class="fa fa-edit"></i> {{l.name}}
                                </a>
                            </td>
                            <td>
                                <span style="color:{{l.color}}">{{l.color}}</span>
                            </td>
                            <td>
                                <i style="color:{{l.color}}" class="{{l.icon}}"></i>
                            </td>
                            <td>
                                {{l.modifiedOn | date:'yyyy-MM-dd'}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center" ng-show="$ctrl.moreItemTypesLoading"><img src="/img/loader1.gif" alt=""/></div>
                </div>
            </div><!--/row-->
        </div><!--/span-->
    </div>

    <edit-item-type-modal onSave="$ctrl.loadItemTypes(false)"></edit-item-type-modal>

</div>
