<br/>
<div class="container">

    <div class="center-block logig-form">
        <h2 class="section-title no-margin-top"><i></i>Login to your Account.</h2>
        <div class="panel panel-primary animated fadeInDown">
            <div class="panel-heading">Please enter your credentials</div>
            <div class="panel-body">
                <form name="loginForm"  role="form">
                    <div class="form-group">
                        <div class="input-group login-input">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input ng-model="$ctrl.user.username" name="username" type="text" class="form-control" placeholder="Username or Email" required>
                        </div>
                        <br>
                        <div class="input-group login-input">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input  ng-model="$ctrl.user.password" name="password" type="password" class="form-control" placeholder="Password" required>
                        </div>

                        <br/>

                        <button ng-click="$ctrl.login()" type="submit" class="btn btn-ar btn-primary pull-right" tabindex="4">
                            Sign In
                            <i class="fa fa-play-circle"></i>
                        </button>
                        <a ng-click="$ctrl.loginGoogle()" class="clickable social-icon-ar sm google-plus animated fadeInDown animation-delay-3"><i class="fa fa-google-plus"></i></a>
                        <!--a href="#" class="social-icon-ar sm twitter animated fadeInDown animation-delay-2"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon-ar sm facebook animated fadeInDown animation-delay-4"><i class="fa fa-facebook"></i></a>-->
                        <hr class="dotted margin-10">
                        <a ui-sref="auth.signup" class="btn btn-ar btn-success pull-right">Create Account</a>
                        <a ui-sref="auth.reset" class="btn btn-ar btn-warning">Password Recovery</a>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> <!-- container  -->


<br/><br/>