<div class="container">
    <div class="row">

        <br/>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="section-title no-margin-top"><i></i>Reset your Password.</h2>
            <h5>We will email you instructions on how to get a new password.</h5>

            <div class="panel panel-warning-dark animated fadeInDown">
                <div class="panel-heading">Please fill in your email</div>
                <div class="panel-body">
                    <form name="resetForm" role="form">
                        <div class="form-group">
                            <label for="forgot-email">Email<sup>*</sup></label>
                            <input data-ng-disabled="$ctrl.token" type="email" ng-model="$ctrl.user.email" class="form-control"
                                   id="forgot-email" placeholder="Your Email" tabindex="1" required>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button data-ng-hide="$ctrl.token" data-ng-disabled="!$ctrl.resetForm.$valid" ng-click="$ctrl.reset()"
                                        type="submit" class="btn btn-ar btn-warning pull-right" tabindex="2">
                                    Send Reset Link &nbsp; <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <p class="form-group">
            <a ui-sref="auth.login"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Login</a>
        </p> <!-- /.form-group -->
        </div>

    </div>
</div> <!-- container  -->